<head>
    <link href="/styles/index.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
</head>
<body>
    <div id="input"></div>
    <div id="stages"></div>
    <div id="output"></div>
    <hr>
    TURTLE INTERPRETATION
    <script type="module" src="/scripts/EP_00_01.js"></script>
    <script type="module" src="/scripts/index.js"></script>
    <style>
        #stages {display: none;}
        #input {display: none;}
        #output {display: none;}
    </style>
</body>
