<link href="/styles/index.css" rel="stylesheet">
<div id="input"></div>
<div id="stages"></div>
<div id="output"></div>
<script type="module" src="/scripts/EP_00.js"></script>
<script type="module" src="/scripts/index.js"></script>