body
{
    background: #0000ff;
    color: #bababa;
    font-family: 'Courier New', Courier, monospace;
}

#input
{
    font-weight: 900;
    font-size: 16pt;
}

.stage
{
    border: 1px solid #0000ff;
    padding: 6px;
    background: #bababa;
    color: #0000ff;
}

#output
{
    font-weight: 900;
    font-size: 16pt;
    margin-top: 15px;
}